################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KeySpriteGenerator/bin/Debug
/KeySpriteGenerator/obj/Debug
/KeySpriteGenerator/.vs/KeySpriteGenerator/v14
/KeySpriteGenerator/KeySpriteGenerator.csproj.user
